<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" id="sf">
    <property name="dataSource" ref="ds"></property> 
    <property name="mappingResources">
        <list>
          <value>Employee.hbm.xml</value>
          </list>
          </property>
      <property name="hibernateProperties">
      <props>
      <prop key="hibernate.show_sql">true</prop>
      <prop key="hibernate.hbm2ddl.auto">update</prop>
      <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
      </props>
      </property>
      </bean>
        
        <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="ds">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc.mysql://localhost:3306/HO_Hibernate_Framework"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
        </bean>
        
      <bean class="org.springframework.orm.hibernate3.HibernateTemplate" id="template1">
      <property name="sessionFactory" ref="sf"></property>
      </bean>
      
      <bean class="com.dao.EmployeeDao" id="edao">
      <property name="ht" ref="template1"></property>
      </bean>
      </beans>